<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SyteLineEdi.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SupplierEdi.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SupplierEdi.My.MySettings.ConnectionString" connectionString="PROVIDER=IBMDA400;DATA SOURCE=192.168.20.170;USER ID=EKIPEDI;PASSWORD=EDI;DEFAULT COLLECTION=AMFLIB;Force Translate=1;" providerName="System.Data.Odbc"/>
        <add name="SupplierEdi.My.MySettings.SupplierEdiConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\VB_Projects\_Musteri\2005 Projeleri\SupplierEdi\SupplierEdi\SupplierEdi\SupplierEdi.mdb&quot;" providerName="System.Data.OleDb"/>
        <add name="SupplierEdi.My.MySettings.ConnectionString2" connectionString="Dsn=EkipEdi;system=192.168.20.170;uid=EKIPEDI;dbq=AMFLIB;dftpkglib=QGPL;languageid=ENU;tracefilename=C:\Documents and Settings\Administrator\Belgelerim\IBM\Client Access\Service\Trace Files;pkg=QGPL/DEFAULT(IBM),2,0,1,0,512;desc=iSeries Access for Windows ODBC data source;translate=1;lazyclose=1;querytimeout=0;debug=64" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SyteLineEdi.My.MySettings>
            <setting name="DsnName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Holding" serializeAs="String">
                <value/>
            </setting>
            <setting name="Language" serializeAs="String">
                <value/>
            </setting>
            <setting name="EDIDepo" serializeAs="String">
                <value>MAIN</value>
            </setting>
            <setting name="EDIYuklAdr" serializeAs="String">
                <value/>
            </setting>
            <setting name="Receiver" serializeAs="String">
                <value/>
            </setting>
            <setting name="LibNameEDI" serializeAs="String">
                <value/>
            </setting>
            <setting name="Teklas" serializeAs="String">
                <value>Data Source=10.0.100.97;Initial Catalog=SL10P;User ID=sa2;pwd=;Connect Timeout=0</value>
            </setting>
            <setting name="Sirket" serializeAs="String">
                <value>Data Source=10.0.100.97;Initial Catalog=SL10P;User ID=sa2;pwd=;Connect Timeout=0</value>
            </setting>
            <setting name="AccessConnection" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\EkipEdi\SLEdi.mdb</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>Master</value>
            </setting>
            <setting name="DefaultWhse" serializeAs="String">
                <value>5400</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=10.0.100.97;Initial Catalog=SL10P;User ID=sa2;pwd=;Connect Timeout=0</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>sa2</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="ServerTurkiye" serializeAs="String">
                <value>10.0.100.97</value>
            </setting>
            <setting name="ServerBulgaristan" serializeAs="String">
                <value>10.0.100.97</value>
            </setting>
            <setting name="HesapNo" serializeAs="String">
                <value>60040001</value>
            </setting>
            <setting name="ReportsPath" serializeAs="String">
                <value>\\10.0.100.97\SLRaporlar</value>
            </setting>
            <setting name="Company" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ImalatciKodu" serializeAs="String">
                <value>0846</value>
            </setting>
            <setting name="Alici" serializeAs="String">
                <value>TOFAS</value>
            </setting>
            <setting name="SiparisNo" serializeAs="String">
                <value>129</value>
            </setting>
        </SyteLineEdi.My.MySettings>
        <SupplierEdi.My.MySettings>
            <setting name="DsnName" serializeAs="String">
                <value>EKIP</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>EKIPEDI</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>EDI</value>
            </setting>
            <setting name="A" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SupplierEdi.mdb</value>
            </setting>
            <setting name="AMFLIB" serializeAs="String">
                <value>AMFLIB</value>
            </setting>
            <setting name="EDILIB" serializeAs="String">
                <value>EKIPEDI</value>
            </setting>
            <setting name="Dizin" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="Yerli" serializeAs="String">
                <value>ATR01</value>
            </setting>
            <setting name="Yabanci" serializeAs="String">
                <value>BGL01</value>
            </setting>
            <setting name="KanbanLib" serializeAs="String">
                <value>AMFLIB</value>
            </setting>
        </SupplierEdi.My.MySettings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Core" publicKeyToken="98646A894A574376" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.4" newVersion="1.0.0.4"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
